<div class="row newsindex-visual">
	<p class="about-visual-text"><strong> News</strong></p>
</div>

<div class="row concept">
	<h2 class="title"> Newsを編集しましょう！</h2>
	<p class="concept-text"></p>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-horizontal">
			<%= form_for(@new) do |f| %>
				<% if @new.errors.any? %>
				    <div id="error_explanation" class="alert alert-danger">
				    	<h style="color: red;">空白の欄があります。全て入力してください。</h>
					    <ul>
					      <% @new.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					      <% end %>
					    </ul>
				    </div>
				<% end %>

				<p class="field"> <b>Date</b><br>
					投稿日は編集できません。
				</p>
				<div class="field">
					<%= f.label :title %><br>
					<%= f.text_field :title, :class => "form-control" %>
				</div>
				<div class="field">
					<%= f.label :body %><br>
					<%= f.text_area :body, rows:20, :class => "form-control" %>
				</div>
				<div class="field">
					<%= f.label :contributor %><br>
					<%= f.text_field :contributor %>
				</div>
				<div class="actions">
					<%= f.submit '編集', class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
