
<div class="row newsindex-visual">
	<p class="about-visual-text"><strong> News</strong></p>
</div>
<div class="col-md-8 col-md-offset-2">
	<p> Only staff can see this page.</p>
</div>

<div class="row concept">
	<h2 class="title"> Newsを投稿しましょう！</h2>
	<p class="concept-text">
	</p>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-3">
		<%= form_for(@new) do |f| %>
			<p> Date</p>
			<%= f.datetime_field :created_at %>
			<p> Title</p>
			<%= f.text_field :title %>
			<p> Body</p>
			<%= f.text_area :body %>
			<p> Contributor</p>
			<%= f.text_field :contributor %>
			<div class="col-md-2 col-md-offset-8">
				<%= f.submit '投稿' %>
			</div>
		<% end %>
	</div>

</div>