
<div>
	<h3> Thank you for your ongoing support.</h3>
</div>

<div class="row">
	<%= link_to(blogs_path) do %>
		<div class="col-md-7 col-md-offset-1 link-box link-box1">
			<p class="link-text"> Staff Blog一覧</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(new_blog_path) do %>
		<div class="col-md-7 col-md-offset-4 link-box link-box2">
			<p class="link-text"> Staff Blog投稿</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(news_index_path) do %>
		<div class="col-md-7 col-md-offset-1 link-box link-box3">
			<p class="link-text"> News一覧</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(new_news_path) do %>
		<div class="col-md-7 col-md-offset-4 link-box link-box4 ">
			<p class="link-text"> News投稿</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(new_about_path) do %>
		<div class="col-md-7 col-md-offset-1 link-box link-box1 top">
			<p class="link-text"> About新規</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(new_question_path) do %>
		<div class="col-md-7 col-md-offset-4 link-box link-box2">
			<p class="link-text"> Q & A新規</p>
		</div>
	<% end %>
</div>


</div>