
<div class="row">
	<div class="top-visual">
		<p class="top-visual-text"><strong> Come to my house whenever you like.</strong></p>
	</div>
</div>

<div class="row concept">
	<h2 class="title"> Concept</h2>
	<p class="concept-text">
		text text text text text text text text <br>
		text text text text text text text text text text text text text text <br>
		text text text text text text text <br>
	text text text text text </p>
</div>

<div class="row">
	<%= link_to(about_path) do %>
	<div class="col-md-7 col-md-offset-1 link-box link-box1">
		<p class="link-text"> About</p>
	</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(price_path) do %>
	<div class="col-md-7 col-md-offset-4 link-box link-box2">
		<p class="link-text"> Price</p>
	</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(qanda_path) do %>
	<div class="col-md-7 col-md-offset-1 link-box link-box3">
		<p class="link-text"> Q&A</p>
	</div>
	<% end %>
</div>

<div class="row">
	<div class="back-image1">
		<div class="col-md-5 col-md-offset-1">
			<h2 class="title"> News</h2>
			<table width="200">
				<tbody>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
				</tbody>
			</table>
			<%= link_to news_index_path do %>
			<span class="label label-success"> More..</span>
			<% end %>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<h2 class="title"> Staff Blog</h2>
			<table width="200">
				<tbody>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
					<tr>
						<td> 2018年1月3日</td>
						<td> タイトル</td>
					</tr>
				</tbody>
			</table>
			<%= link_to blogs_path do %>
			<span class="label label-success"> More..</span>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<h2 class="concept"> Access</h2>
	<div class="col-md-5 col-md-offset-1">
		<p> Address:<br>東京都世田谷区三軒茶屋1-38-8 フレッシュビル</p>
		<p> Opening times:<br> Open／am 9:30 〜 Close／pm 9:00（最終入店／pm 8:00）</p>
		<p> Access detail: <br>三軒茶屋駅　世田谷通り口を出て右にまっすぐ進むと右手にあります。</p>
		<p> Contact:<br> tel: 03-3344-5587<br> mail: co-working-space@mail.com</p>
	</div>
	<div class="col-md-6">
		<div class="back-image2">
		</div>
	</div>
</div>

