<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
		<div class="container">
			<a class="headline"> Co-Working Space</a>
			<div class="nav-text">
				<ul>
					<li> <%= link_to 'Home', root_path %></li>
					<li> <%= link_to 'About', about_path %></li>
					<li> <%= link_to 'Price', price_path %></li>
					<li> <%= link_to 'Access', access_path %></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container">
		<%= yield %>
	</div>

	<footer class="container text-center">
		<div class="sitemap">
			<ul class="sitemap-text">
				<li> <%= link_to 'Home', root_path %></li>
				<li> <%= link_to 'About', about_path %></li>
				<li> <%= link_to 'Price', price_path %></li>
				<li> <%= link_to 'Access', access_path %></li>
				<li> <%= link_to 'Q & A', qanda_path %></li>
				<li> <%= link_to 'Staff Blig', blogs_path %></li>
				<li> <%= link_to 'News', news_index_path %></li>
			</ul>
		</div>
   	  <p class="text-white">@2018.co-working Space</p>
	</footer>

  </body>
</html>
